h1 {
  color: #d47379;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 12px;
  margin-top: 33px;
}

h2 {
  text-align: center;
  color: #d47379;
  font-size: 35px;
  letter-spacing: 8px;
  margin-top: 40px;
}

h4 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 20px;
  font-family: "Imprima", sans-serif;
  letter-spacing: 5px;
}

h5 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 18px;
  font-family: "Imprima", sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 40px;
}

.logo {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-family: "Imprima", sans-serif;
}

#home-link:hover {
  color: #d47379;
}
#projects-link:hover {
  color: #d47379;
}

#contact-link:hover {
  color: #d47379;
}

.landing-page-container {
  background-color: #d9ddd3;
  border: white solid 20px;
}

.portfolio-greeting {
  padding: 50px 100px 300px 176px;
  margin: 0;
}

.contact {
  margin-top: 60px;
}

#contact-button {
  color: white;
  background-color: #d4737a;
  opacity: 0.8;
  font-family: "Imprima", sans-serif;
  padding: 12px 18px;
  border: #d4737a solid 1px 0.8;
  text-decoration: none;
  border-radius: 4px;
}

#profile-picture {
  border-radius: 50%;
}

#tea,
#weather-app {
  margin: 20px 0 50px 0;
  border: 5px solid white;
}
