h1 {
  color: #d47379;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 92px;
  font-weight: bold;
}

h4 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 33px;
  font-family: "Imprima", sans-serif;
}

p,
h5 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 18px;
  font-family: "Imprima", sans-serif;
}

.logo {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  color: #d47379;
  font-family: "Imprima", sans-serif;
}

.landing-page-container {
  background-color: #d9ddd3;
  border: white solid 20px;
}

.portfolio-greeting {
  padding: 150px 176px 300px 176px;
  margin: 0;
}

.contact {
  margin-top: 40px;
}

#contact-button {
  color: white;
  background-color: #d4737a;
  opacity: 0.8;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
}
