h1 {
  color: #d47379;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 12px;
  margin-top: 33px;
}

h2 {
  text-align: center;
  color: #d47379;
  font-size: 35px;
  letter-spacing: 8px;
  margin: 60px 0 40px 0;
}

h4 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 20px;
  font-family: "Imprima", sans-serif;
  letter-spacing: 5px;
}

h5 {
  color: #393d3a;
  opacity: 0.8;
  font-size: 18px;
  font-family: "Imprima", sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 40px;
}

.logo {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-family: "Imprima", sans-serif;
}

#home-link:hover,
#projects-link:hover,
#contact-link:hover,
#about-link:hover {
  color: #d47379;
}

.landing-page-container {
  background-color: #d9ddd3;
  border: white solid 20px;
}

.portfolio-greeting {
  padding: 100px 100px 300px 176px;
  margin: 0;
}

.contact {
  margin-top: 60px;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope {
  color: #d47379;
  padding: 15px;
}

.fa-instagram {
  padding-left: 0;
}

.fa-instagram:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: #393d3a;
  opacity: 0.8;
}

#profile-picture {
  border-radius: 50%;
  padding: 50px;
}

#tea,
#weather-app {
  margin: 20px 0 50px 0;
  border: 5px solid white;
}

@media (max-width: 540px) {
  h1,
  h4,
  h5,
  .contact {
    text-align: center;
  }

  .portfolio-greeting {
    padding: 0 20px 20px 20px !important;
  }

  #profile-picture {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }

  .navbar {
    padding: 0 10px 0 0;
    margin: 0 !important;
  }

  .navbar-brand img {
    height: 75px !important;
    width: 75px !important;
  }
}

@media (max-width: 960px) {
  .portfolio-greeting {
    padding: 0 20px 20px 40px;
  }

  .profile-photo {
    margin: 0 0 30px 0;
  }

  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 12px;
  }

  .navbar-brand img {
    height: 75px !important;
    width: 75px !important;
  }

  .navbar-nav {
    font-size: 12px;
  }

  .contact {
    margin-top: 20px;
    font-size: 10px;
  }
}
